@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes elonBounce {
  0%, 100% {
    transform: translateY(0) scaleX(1); /* Normal scale (no mirror) */
  }
  50% {
    transform: translateY(-30%) scaleX(-1); /* Bounce up and mirror (horizontal flip) */
  }
}

.animate-elon-bounce {
  animation: elonBounce 1.5s infinite;
}